.map

  &__title
    @extend %headerH2Dark

  &__text
    @extend %marginCenter
    text-align: center
    color: $color-09
    font-weight: bold
    font-style: italic
    font-size: 21px
    @media screen and (max-width: $s1)
      font-size: 20px
    @media screen and (max-width: $s2)
      font-size: 18px
    @media screen and (max-width: $s3)
      font-size: 18px
    @media screen and (max-width: $s4)
      font-size: 17px

  &-yandex
    @extend %marginTop

