.intro
  @extend %container-screen
  margin: 0 auto
  font-family: $fontFamily-03

  &__title
    @extend %marginTop2
    text-align: center
    color: $color-10
    text-transform: uppercase
    font-size: 50px
    font-weight: 300
    @media screen and (max-width: $s1)
      font-size: 45px
    @media screen and (max-width: $s2)
      font-size: 40px
    @media screen and (max-width: $s3)
      font-size: 36px
    @media screen and (max-width: $s4)
      font-size: 26px
      margin: $s5marginV $s5margin 0

  &__subtitle
    @extend %headerH2Dark

  &__text
    @extend %marginCenter
    color: $color-09
    font-style: italic
    font-size: 21px
    text-align: center
    width: 60%
    @media screen and (max-width: $s1)
      width: 75%
      font-size: 19px
    @media screen and (max-width: $s2)
      font-size: 19px
      width: 90%
    @media screen and (max-width: $s3)
      font-size: 19px
      width: 90%
    @media screen and (max-width: $s4)
      font-size: 18px
      width: 95%

  &-properties
    @extend %grid-wrapper

    &-item
      @extend %columnWidth
      display: flex
      flex-direction: column
      @media screen and (max-width: $s2)
        width: 100%
        flex-direction: row
        justify-content: space-between
      @media screen and (max-width: $s3)
        width: 100%
        margin: $s4margin auto
      @media screen and (max-width: $s4)
        width: 100%
        margin: $s5margin auto

      &-picture
        @extend %columnWidth
        display: flex
        justify-content: center
        @media screen and (max-width: $s3)
          width: $introImgWidth
        @media screen and (max-width: $s4)
          display: none

        &__picture
          width: $introImgWidth
          height: $introImgHeigth
          background: url('../img/intro-props.jpg') top center no-repeat

          &_var1
            background-position: 0 0
          &_var2
            background-position: 0 -143px
          &_var3
            background-position: 0 -286px
          &_var4
            background-position: 0 -429px

      &-text
        @extend %columnWidth
        @media screen and (max-width: $s2)
          width: 2 * $s3column + $s3margin
        @media screen and (max-width: $s3)
          width: $s4 - 2 * $s4margin - $introImgWidth

        &__title
          @extend %headerH3

        &__paragraph
          @extend %textArea
          @extend %textAreaText




