// Screens for responsive design

$widthDesktop: 1200px // width of content for Desktop
$widthTablet1: 992px // width of content for Tablet1
$widthTablet2: 768px // width of content for Tablet2
$widthMobile1: 576px // width of content for Mobile1
$widthMobile2: 320px // width of content for Mobile2

// Colors

$color-b01: #DBE0E6
$color-00: #FFFFFF
$color-01: #FFFF00
$color-02: #EE9600
$color-03: #7DBAF6
$color-04: #0380FF
$color-05: #000308
$color-06: #2A5076
$color-07: #000000


// Fonts
$fontFamily-01: Arial, Helvetica, sans-serif


// page elements
$headerHeight: 160px

$stripHeight: 12px // Blue line that divides sections

$margin-01: 30px // for Desktop
$margin-02: 28px // for Desktop
$margin-03: 20px // for Desktop






// Imports
@import "reset"
@import "page-structure"

@import "header/header"



