.header
  @extend %container-screen
  height: $headerHeight
  margin: 0 auto
  background: url('../img/header__bg-1202.jpg') no-repeat center top
  display: flex
  justify-content: center
  font-family: $fontFamily-01
  @media screen and (max-width: $s1)
    background: none
  @media screen and (max-width: $s3)
    width: 100%
    height: $headerHeight * 3
    flex-wrap: wrap
    background: none
  @media screen and (max-width: $s4)
    width: 100%

  &-address
    width: 232px
    align-self: center
    margin-left: $s1margin
    @media screen and (max-width: $s1)
      margin-left: $s2margin
    @media screen and (max-width: $s2)
      margin-left: $s3margin
    @media screen and (max-width: $s3)
      width: 100%
      height: $headerHeight
      background: $color-05
      margin: 0

    &__address
      font-size: 18px
      line-height: 25px
      margin: 10px auto
      color: $color-00
      text-align: center
      text-shadow: $txtSh1
      @media screen and (max-width: $s3)
        width: 300px
        margin: 30px auto 10px

    &__openh
      border-top: 5px dotted $color-00
      font-size: 18px
      line-height: 35px
      color: $color-01
      text-align: center
      text-shadow: $txtSh1
      @media screen and (max-width: $s3)
        width: 300px
        display: block
        margin: 0 auto

  &-logo
    flex-grow: 1
    height: $headerHeight
    @media screen and (max-width: $s3)
      width: 100%
      height: $headerHeight

  &-phones
    width: 270px
    align-self: center
    @media screen and (max-width: $s3)
      background: $color-04
      width: 100%
      height: $headerHeight

    &__phone
      color: $color-00
      font-size: 25px
      line-height: 41px
      text-shadow: $txtSh1
      background: url(../img/header-phones__operator.png) left top no-repeat
      text-align: right
      margin-right: $s1margin
      @media screen and (max-width: $s1)
        margin-right: $s2margin
      @media screen and (max-width: $s2)
        margin-right: $s3margin
      @media screen and (max-width: $s3)
        margin: $s4margin auto
        width: 250px
        display: block
      @media screen and (max-width: $s4)
        margin: $s5margin auto

      &_velcom
        background-position: 0 0

      &_mts
        background-position: 0 -41px




